{% assign map = include.items | where_exp: "item", "item.type == 'map'" | first %}
{% assign includes = include.items | where_exp: "item", "item.type != 'map'" %}

{% if map %}
{% include sections/map.html tag=map.data %}
{% endif %}

{% if includes %}

    {% capture sections %}
    {% for item in includes %}
        {% include sections/{{ item.type }}.html tag=item.data %}
    {% endfor %}
    {% endcapture %}

    {% if include.content-size == 0 and include.aside %}
    <div class="page">
        <div class="content">
            {{ sections }}
        </div>
        {% include components/aside.html items=include.aside %}
    </div>
    {% else %}
    {{ sections }}
    {% endif %}

{% endif %}
