.teaser {
    margin-bottom: 8rem;

    picture {
        margin-bottom: 2rem;
    }

    h3 {
        margin: 0 0 .5rem;
    }

    p {
        margin: 1rem 0;
    }

}


@media screen and (min-width: $breakpoint-tiny) {

    .teaser {
        display: flex;
        max-width: 80rem;
        flex-wrap: wrap;

        .content {
            flex: 1 1 65%;
        }

        picture {
            flex: 1 1 30%;
            max-width: 20rem;
            margin-right: 5%;
        }

    }

}
