---
layout: default
---

{% include components/figure.html style="banner" image=page.image.url id="banner" class="section" alt=page.image.alt caption=page.image.caption %}

{% if content.size > 1 %}
<article class="page">

    <div class="content">
        {% include components/content.html item=content %}
    </div>

    {% include components/aside.html items=page.aside %}

</article>
{% endif %}

{% assign map = page.includes | where_exp: "item", "item.name == 'map'" | first %}
{% include sections/map.html tag=map.tag %}

{% assign aside = page.includes | where_exp: "item", "item.name != 'map'" %}
{% for item in aside %}
    {% if forloop.first %}
    {% include sections/{{ item.name }}.html tag=item.tag aside=page.aside %}
    {% else %}
    {% include sections/{{ item.name }}.html tag=item.tag %}
    {% endif %}
{% endfor %}
