---
layout: default
---

{% include components/figure.html style="banner" image=page.image.url id="banner" class="section" alt=page.image.alt caption=page.image.caption %}

{% if content.size > 1 %}
<article class="page">

    <div class="content">
        {% include components/content.html item=content %}
    </div>

    {% include components/aside.html items=page.aside %}

</article>
{% endif %}

{% if page.includes %}
{% for item in page.includes %}

{% if page.content.size == 0 %}
{% include sections/{{ item.name }}.html tag=item.tag aside=page.aside %}
{% else %}
{% include sections/{{ item.name }}.html tag=item.tag %}
{% endif %}


{% endfor %}
{% endif %}
