.page,
.section {
    opacity: 1;
    transition: opacity 0.2s ease-in;
    transition-delay: .4s;
    margin: 4rem;
}

.page .section {
    margin: 0;
}

.page {

    & > .content {
        margin-bottom: 6rem;

        &:after {
            content: "";
            display: block;
            width: 18%;
            height: .6rem;
            background-color: $color-highlight;
            margin-top: 4rem;
        }
    }

    &.post {
        aside {
            max-width: 32rem;
        }
    }

}

#posts {
    h1 {
        margin-bottom: 5rem;
    }
}

#banner {
    transition-delay: .2s;
}

.message {
    padding: 2rem;
    background-color: $color-highlight;
    color: $color-primary;
    margin-bottom: 2rem;
    
    p {
        margin: 0;
    }
}

@media screen and (min-width: $breakpoint-medium) {

    .page,
    .section {
        margin: 6rem 8rem 0 8rem;
    }

    .page.post {
        display: flex;

        .content {
            flex: 1 1 70%;
            order: 2;
        }

        aside {
            flex: 1 1 25%;
            margin: 0 5% 0 0;
            order: 1;
        }

    }

}

@media screen and (min-width: $breakpoint-large) {

    .page {
        display: flex;
        justify-content: space-between;

        .content {
            flex: 1 1 70%;
            max-width: 96rem;
            margin-bottom: 0;
        }

    }

    aside {
        flex-basis: 30%;
        margin-left: 4rem;
    }

}


@media screen and (max-width: $breakpoint-huge) {

    .map,
    #banner {
        margin: 0;
    }

}



@media screen and (max-height: $breakpoint-height), screen and (max-width: $breakpoint-small) {

    #header.sticky {
        padding-top: 5.6rem;

        @keyframes stickyFadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 0.97;
            }
        }

        #nav {
            @include position(fixed,0,0,null,0);
            background: $color-primary asset_url("texture.png");
            z-index: 3;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            animation: stickyFadeIn 0.3s ease-in-out forwards;

            & > ul {
                top: 5.6rem;
            }
        }

    }

}
