---
---

{% capture css %}
{% asset css/critical @inline %}
{% asset css/non-critical @inline %}
{% endcapture %}

{{ css | replace: '<style rel="stylesheet" type="text/css">', '' | replace: '</style>', '' }}

.preview-block {
    padding: 14rem 2rem;
    border: 2px dashed grey;
    margin: 1rem;
    text-align: center;
}

picture.preview-img {
    background-position: center center;
    background-size: cover;
}

picture.preview-img:before {
    position: relative;
    z-index: -1;
}

body {
    overflow: initial;
    display: block;
}
